# Intellij
*.iml
.idea

# npm
node_modules

# yarn
yarn.lock
yarn-error.log
# build
main.js
*.js.map

# obsidian
data.json
src.zip

# macOS / local work products
.DS_Store
review_bundle/
review_bundle.zip
